{{ range $i, $alert := .Alerts }}
{{if $i}}

{{end}}
----- Alert #{{ $i }} -----
Application: {{ .Application }}
Server: {{ .Server }}
Date: {{ $alert.Date.Format "2006-01-02T15:04:05Z07:00" }}
File: `{{ $alert.Filename }}`
Parser: `{{ $alert.ParserName }}`
Trigger: `{{ $alert.TriggerName }}`

```
{{ $alert.Content }}
```
{{ end }}
