{{ template "email_layout" . }}

{{ define "main" }}
{{ range $i, $alert := .Alerts }}
{{if $i}}

{{end}}
----- Alert #{{ $i }} -----
METADATA
    Application: {{ $alert.Application }}
    Server: {{ $alert.Server }}
    Date: {{ $alert.Date.Format "2006-01-02T15:04:05Z07:00" }}
    File: {{ $alert.Filename }}
    Parser: {{ $alert.ParserName }}
    Trigger: {{ $alert.TriggerName }}


EXTRACTED FIELDS
{{ range $fieldName, $fieldValue := $alert.Fields }}
    {{ $fieldName }}: {{ $fieldValue }}
{{ end }}


RAW CONTENT
    {{ $alert.Raw }}
{{ end }}
{{ end }}
