{{ template "email_layout" . }}

{{ define "main" }}
    {{ range $i, $alert := .Alerts }}
        {{ if $i }}
            <br/>
        {{ end }}
        <div style="
            text-align: left;
            background-color: #fff2c7;
            margin-top: 25px;
            font-weight: bold;
            padding: 6px 15px;
            margin-bottom: 10px;
            border-radius: 5px;
            font-size: 16px;
        ">
            Alert #{{ $i }}
        </div>

        <div class="section_name">METADATA</div>
        <table>
            <tr>
                <th style="width: 25%">
                    <div class="label">
                        APPLICATION
                    </div>
                </th>
                <td>
                    <div class="value">
                        {{ $alert.Application }}
                    </div>
                </td>
            </tr>
            {{ if $alert.Server }}
                <tr>
                    <th style="width: 25%">
                        <div class="label">
                            SERVER
                        </div>
                    </th>
                    <td>
                        <div class="value">
                            {{ $alert.Server }}
                        </div>
                    </td>
                </tr>
            {{ end }}
            <tr>
                <th style="width: 25%">
                    <div class="label">
                        DATE
                    </div>
                </th>
                <td>
                    <div class="value">
                        {{ $alert.Date.Format "2006-01-02T15:04:05Z07:00" }}
                    </div>
                </td>
            </tr>
            <tr>
                <th style="width: 25%">
                    <div class="label">
                        FILE
                    </div>
                </th>
                <td>
                    <div class="value">
                        {{ $alert.Filename }}
                    </div>
                </td>
            </tr>
            <tr>
                <th style="width: 25%">
                    <div class="label">
                        PARSER
                    </div>
                </th>
                <td>
                    <div class="value">
                        {{ $alert.ParserName }}
                    </div>
                </td>
            </tr>
            <tr>
                <th style="width: 25%">
                    <div class="label">
                        TRIGGER
                    </div>
                </th>
                <td>
                    <div class="value">
                        {{ $alert.TriggerName }}
                    </div>
                </td>
            </tr>
        </table>

        <div class="section_name">EXTRACTED FIELDS</div>
        <table>
            {{ range $fieldName, $fieldValue := $alert.Fields }}
                <tr>
                    <th style="width: 25%">
                        <div class="label">
                            {{ $fieldName }}
                        </div>
                    </th>
                    <td style="width: 75%">
                        <div class="value">
                            {{ $fieldValue }}
                        </div>
                    </td>
                </tr>
            {{ end }}
        </table>

        <div class="section_name">RAW CONTENT</div>
        <div class="blockquote_fat">
            {{ $alert.Raw }}
        </div>
    {{ end }}
{{ end }}
